* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.aboutUsContainer {
    width: 100%;
}


.aboutUsText {
    background-color: rgba(49, 49, 49, 0.126);
}

.mission {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.missionText {
    width: 50%;
    flex-direction: column;
    display: block;
}


.missionText h1 {
    margin-left: 50px;
    color: #850e00;
}

.missionText p {
    width: 450px;
    height: 100px;
}

.mission img {
    height: 50%;
    width: 50%;
   
}


