* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.aboutUsContainer {
    width: 100%;
}


.aboutUsText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 50%;
    max-width: 100%; 
    background-color: rgba(196, 196, 196, 0.126);
    padding: 20px; 
}

.aboutUsDescription {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.aboutUsText h1 {
    text-align: left;
    margin-bottom: 70px;
    color: #850e00;
    width: 70%;
}

.aboutUsText p {   
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    width: 70%;
    height: 100px;
    font-size: 15px;
    text-align: justify;
}

.aboutUsImage {
    height: 50%;
    width: 50%;
   
}

.aboutUsImage img {
    height:auto;
    width: 100%;
}

.missionVissionContainer {
    height: 80vh;
    width: 100%;
    display: flex;
    text-align: center;
}



@media (max-width:912px) {
    .aboutUsDescription {
        flex-direction: column;
        align-items: center;
    }

    .aboutUsText {
        padding: 40px;
        width: 100%;
        height: 750px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: block;

    }

    .aboutUsText h1 {
        width: 100%;
        margin-top: 40px;
    }

    .aboutUsText p{
        width: 100%;
        margin-bottom: 150px;
    }

    .aboutUsImage {
        width: 100%;
    }
}