.slideContainer {
    height: 700px;
    width: 100%;
    animation: fadeIn 1s ease;
    margin: 0;
    justify-content: center; 
    align-items: center; 
    position: relative;
    overflow: hidden; }


.slideContainer iframe {
    height: 900px;
    width: 100%;
    border: 0;
    pointer-events: none;
    
}



@keyframes fadeIn {
    from {
        opacity: 0; /* Empieza con una opacidad de 0 */
    }
    to {
        opacity: 1; /* Termina con una opacidad de 1 */
    }
}

.slideText {
    position: absolute;
    top: 50%; 
    left: 50%; 
    color: white; 
    font-size: 45px; 
    text-align: center; 
    width: 40%;
    text-decoration: none;
    font-weight: 700;
    


}

.slideText a{
    text-decoration: none;

}

.slideButton {
    position: absolute; 
    top: 70%; 
    left: 65%; 
    color: #fefefe; 
    background-color: #830e00;
    font-size: 20px; 
    font-weight: 700;
    text-align: center; 
    width: 10%;
    height: 6%;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    border: none;
    
}

@media (max-width: 912px) {
    .slideContainer iframe {
        margin-top: 60px;
        height: 650px;
        width: 200%;
        overflow: hidden;
        transform: translateX(-50%) translateY(-50%);
        left: 50%;
        top: 50%;
        position: absolute;
    }

    .slideContainer {
        margin-top: 80px;
        height: 540px;
        position: relative;
    }

    .slideText {
        display: none;
        margin-top: 60px;
        right: 15%;
        font-size: 13px;
        margin-left: 20px;
        width: 30%;
        text-align: end;
        
    }

    .slideButton {
        display: none;
        margin-top: 50px;
        font-size: 10px;
        transform: translateX(50%);
        width: 20%;
    }

    
}