.App {
    margin:-10px;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.inBetweenText {
    background-color: rgb(4, 4, 53);
    margin-top: -20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
}

.inBetweenText p {
    font-family: "Lato", sans-serif;
    position: relative;
}

.inBetweenText p::after {
    content: "";
    position: absolute;
    left: 250px;
    bottom: -25px; 
    width: 30%; 
    height: 5px; 
    background-color: #f46016; 
}

.workPlaceDescription {
    height: 600px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.workPlaceDescription img {
    height: 100%;
    width: 100%;
}

.descriptionText {
    position: absolute;
    margin-top: 100px;
   height: 400px;
   background-color: #ffffff;
   width: 45%;
   border-radius: 0 2% 2% 0;
   font-family: "Lato", sans-serif;
}

.descriptionText h1 {
    margin-top: 100px;
    width: 500px;
    margin-left: 150px;
    color: #931919;
    font-size: 40px;
}

.descriptionText p {
    width: 450px;
    margin-left: 150px;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    color: rgb(11, 11, 11);
}


.services {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.services p{
    width: 50%;
    color: rgb(4, 4, 53);
    font-size: xx-large;
    margin-left: 50px;
    position: relative;
}

.services p::after {
    content: ""; /* Agregar contenido al seudoelemento */
    position: absolute; /* Posicionar el seudoelemento */
    left: 0;
    bottom: -5px; /* Ajustar la posición del subrayado según sea necesario */
    width: 50%; /* Extender el subrayado a lo ancho del contenedor del párrafo */
    height: 5px; /* Grosor del subrayado */
    background-color: #850e00; /* Color del subrayado */
}

.services img{
   width: 50%;
   height: 100%;
}


.products {
    height: auto; 
    width: auto;
    text-align: center; 
    margin-bottom: 60px;
}

.titleProducts {
    margin-top: 40px;
}

.imageProducts {
    margin-top: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageProducts img {
    height: 200px;
    width: 300px;
    margin: 5px; 
}

.partners {
    height: 400px;
    width: 100%;
    background-color: rgb(4, 4, 53);
    display: flex;
    justify-content: center;
    color: white;
}

@media (max-width: 900px) {
    .imageProducts {
        flex-direction: column;
        align-items: center;
    }

    .imageProducts img {
        width: 80%;
    }

    .partners h1 {
        font-size: 18px;
        margin: 20px 0;
    }

    .descriptionText h1{
        margin-top: 50px;
        margin-left: 30px;
        width: auto;
        font-size: 35px;
    }

    .descriptionText p{
        margin-right: 10px;
        margin-left: 30px;
        font-size: 15px;
        width: auto;
    }

    .descriptionText {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 2%;
    }

    .inBetweenText {
        width: auto;
        height: 130px;
        font-size: 13px;
        padding: 10px;
    }

    .inBetweenText p::after {
        content: "";
        position: absolute;
        bottom: -15px; 
        left: 40%;
        width: 30%; 
        height: 2px; 
        background-color: #f46016; 
    }
}