.navbar {
    background-color: rgb(4, 4, 53);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.logo {
    height: 80px;
    margin-left: 10px;
}

.headerContact {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.headerContact li {
    margin: 0 20px;
}

.NavPages {
    background-color: rgb(4, 4, 53);
}

.NavPages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.NavPages li {
    margin: 10px 20px;
}

.NavPages li p {
    margin: 0;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.NavPages img{
    display: none;
}

.hovered {
    background-color: rgb(29, 29, 103);
}

@media (max-width: 768px) {
    .navbar-top {
        flex-direction: column-reverse;
        background-color: rgb(4, 4, 53);
    }

    .navbar-top img {
        display: none;
    }

    .headerContact {
        justify-content: center;
        align-items: center;
        font-size: 8px;
        color: white;
    }

    .headerContact .direction{
        display: none;
    }


    .NavPages {
        background-color: white;
    }

    .NavPages img{
        display: flex;
    }

    .NavPages ul {
        flex-direction: column;
        
    }


    .header-responsive {
        display: flex;
    }

    .NavPageList {
        background-color: rgb(4, 4, 53);
        left: -100%;
    }
    
}